.card-box{
    background-color: rgb(165, 150, 131);
    width: 200px;
    margin: 16px;
    border-radius: 6px;
}
.info-box{
    padding: 8px;
    display:flex;
    flex-direction: column;
    text-align: left;
}
.wrapper-info-box{
    background-color: rgb(151, 138, 121);
}
h3{
    margin: 6px;
}